@import "mixins";
@import "fonts";
@import "vendor";
@import "vars";
@import "settings";



.checked {
	text-decoration: line-through;
}

.container {
	margin-top: 50px;
}

.clickable {
	cursor: pointer;
}

